<h3>Application Error Alert</h3>
<p>Below is a full description of the error:</p>
<ul>
    <li>
        <b>Timestamp:</b>
        <br>#{time}<br>
    </li>
    <li>
        <b>Host:</b>
        <br>#{host}<br>
    </li>
    <li>
        <b>Log:</b>
        <br>#{log}<br>
    </li>
    <li>
        <b>Message:</b>
        <br>#{message}<br>
    </li>
</ul>